.encabezado{
    border-style:groove;
    border-width:10px;
    border-color:darkred;
    padding-left: 50px;
}
.colorletra{
    color: white;
    text-decoration: none;
}
.fondo{
   
    background-image:url("./imagenes/fodos/textura1.jpg");
    }
   



