.encabezado{
    border-style:groove;
    border-width:10px;
    border-color:darkred;
    padding-left: 50px;
}
.colorletra{
    color: white;
    text-decoration: none;
}
.fondo{
   
    background-color: black;
    }
 #contenedor {
  width: auto;
     height: auto;
     overflow: hidden;
     background-image:url("./imagenes/fondos/textura1.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     
    
}
#cabecera {
    margin: 0;
    line-height: 90px;
    align-content: center;
    
        
}
#contenido {
    background-position: center;
    background: black;
    overflow: hidden;
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;
    margin-bottom: 20%;
    margin-top: 1%;
      
    padding-right: 3%;
        padding-left: 3%;
    padding-bottom: 5%;
    padding-top: 1%;
}
#pie {
  background: #f60;
}
.img{
    border-radius:50%;
}

.video-responsive {
position: relative;
padding-bottom: 56.25%; /* 16/9 ratio */
padding-top: 30px; /* IE6 workaround*/
height: 0;
overflow: hidden;
}
 
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
